/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 23, ../vendor/bower/normalize-scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 36, ../vendor/bower/normalize-scss/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 50, ../vendor/bower/normalize-scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 71, ../vendor/bower/normalize-scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 88, ../vendor/bower/normalize-scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 98, ../vendor/bower/normalize-scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 110, ../vendor/bower/normalize-scss/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 120, ../vendor/bower/normalize-scss/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 132, ../vendor/bower/normalize-scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 140, ../vendor/bower/normalize-scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 155, ../vendor/bower/normalize-scss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 164, ../vendor/bower/normalize-scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 200, ../vendor/bower/normalize-scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 239, ../vendor/bower/normalize-scss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 247, ../vendor/bower/normalize-scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 255, ../vendor/bower/normalize-scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 259, ../vendor/bower/normalize-scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 314, ../vendor/bower/normalize-scss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 325, ../vendor/bower/normalize-scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 336, ../vendor/bower/normalize-scss/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 344, ../vendor/bower/normalize-scss/_normalize.scss */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 353, ../vendor/bower/normalize-scss/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 362, ../vendor/bower/normalize-scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 389, ../vendor/bower/normalize-scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 407, ../vendor/bower/normalize-scss/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 418, ../vendor/bower/normalize-scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 433, ../vendor/bower/normalize-scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 448, ../vendor/bower/normalize-scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 457, ../vendor/bower/normalize-scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 468, ../vendor/bower/normalize-scss/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 478, ../vendor/bower/normalize-scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 494, ../vendor/bower/normalize-scss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 504, ../vendor/bower/normalize-scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 515, ../vendor/bower/normalize-scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 524, ../vendor/bower/normalize-scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 537, ../vendor/bower/normalize-scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 550, ../vendor/bower/normalize-scss/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 559, ../vendor/bower/normalize-scss/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 570, ../vendor/bower/normalize-scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 575, ../vendor/bower/normalize-scss/_normalize.scss */
td,
th {
  padding: 0;
}

/**
* Settings
*
* @desc Place variables and mixings for default settings here
* @author @Freizeitler
* @dependency none
*/
/**
* Helper
*
* @desc Helper are classes and formattings which are used to accomplish repeating task. Mainly we use ds- for design-task and bv- for behavioral tasks.
* @author [XX]
* @dependency _app_settings.scss
*/
/* line 11, ../scss/_helper.scss */
.bv-cf:before, .bv-cf:after {
  content: " ";
  display: table;
}
/* line 17, ../scss/_helper.scss */
.bv-cf:after {
  clear: both;
}

/* line 19, ../scss/_helper.scss */
.bv-float-left {
  float: left;
}

/* line 20, ../scss/_helper.scss */
.bv-float-right {
  float: right;
}

/* line 22, ../scss/_helper.scss */
.bv-clear-both {
  clear: both;
}

/**
* Basic Styles
*
* @desc Basic and common styles. Formats for every device live in Common Styles, for device-specific stylings use Mobile First approach.
* @author @Freizeitler
* @dependency _app_settingsscss
*/
/* line 10, ../scss/_base.scss */
body {
  background: url(../images/project_papper.png);
  font: normal 1em/1.4 sans-serif;
  color: #1c140d;
}

/* line 14, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.2;
}

/* line 19, ../scss/_base.scss */
h1 {
  padding: 10px 25px;
  font-size: 2em;
  margin-left: 35px;
  background: #fff;
  margin-bottom: 0;
  border-left: 15px solid #e86b6b;
}
/* line 26, ../scss/_base.scss */
h1 span {
  display: block;
  font-size: 0.42em;
}

/* line 31, ../scss/_base.scss */
h2, h3 {
  padding: 10px 25px 10px 0;
  font-size: 1.6em;
  margin-bottom: 15px;
  border-bottom: 1px dotted #1c140d;
}

/* line 37, ../scss/_base.scss */
h3 {
  font-size: 1.2em;
  padding: 10px 0;
}

/* line 41, ../scss/_base.scss */
h4 {
  font-weight: bold;
}

/* line 44, ../scss/_base.scss */
p {
  padding-left: 25px;
  max-width: 900px;
}

/* line 48, ../scss/_base.scss */
figure {
  margin-left: 0;
}

/* line 51, ../scss/_base.scss */
button {
  background: none;
  border: none;
  display: block;
  padding: 10px 0;
  text-align: center;
  background: #f2e9e1;
  margin-bottom: 1em;
  width: 100%;
  line-height: 1.2;
}
/* line 61, ../scss/_base.scss */
button span {
  display: block;
  font-size: 0.8em;
}

/* line 66, ../scss/_base.scss */
blockquote {
  margin: 0 0 25px 100px;
  border-left: 10px solid #ddd;
  padding: 10px;
  font-style: italic;
  float: right;
}

/**
* Tests
*
* @desc CSS for the tests
* @author @Freizeitler
* @dependency _app_settingsscss
*/
/* line 11, ../scss/modules/_tests.scss */
.dnwb .content span {
  display: none;
}
/* line 14, ../scss/modules/_tests.scss */
.dnwb .content.active span {
  display: block;
}

/* line 22, ../scss/modules/_tests.scss */
.dnnb .content span {
  display: none;
}

/* line 30, ../scss/modules/_tests.scss */
.vhwb .content span {
  visibility: hidden;
}
/* line 33, ../scss/modules/_tests.scss */
.vhwb .content.active span {
  visibility: visible;
}

/* line 41, ../scss/modules/_tests.scss */
.vhnb .content span {
  visibility: hidden;
}

/* line 49, ../scss/modules/_tests.scss */
.ccnb .content span:before {
  content: '[CCNB] CSS Content No Button';
}

/**
* Header
*
* @desc Styles for the Header
* @author @Freizeitler
* @dependency _app_settingsscss
*/
/* line 9, ../scss/sections/_header.scss */
.header {
  background: #cbe86b;
  border-bottom: 5px solid #1c140d;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/**
* Main Section
*
* @desc Styles for elements within the main section
* @author @Freizeitler
* @dependency _app_settingsscss
*/
@media (min-width: 0em) {
  /* line 9, ../scss/sections/_main.scss */
  .main {
    padding: 25px 15px;
  }
}
@media (min-width: 22.5em) {
  /* line 9, ../scss/sections/_main.scss */
  .main {
    padding: 50px 75px;
  }
}
/* line 16, ../scss/sections/_main.scss */
.main p {
  padding: 0;
}

/* line 20, ../scss/sections/_main.scss */
.section {
  margin-bottom: 50px;
  clear: both;
}

/* line 24, ../scss/sections/_main.scss */
.mobile-yeti {
  width: 320px;
}
/* line 26, ../scss/sections/_main.scss */
.mobile-yeti img {
  max-width: 100%;
  height: auto;
}

/* line 31, ../scss/sections/_main.scss */
.tile {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  width: 260px;
  height: 340px;
  background: #fff;
  float: left;
  margin: 10px 20px 10px 10px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}
/* line 42, ../scss/sections/_main.scss */
.tile .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 25px;
  height: 50px;
  margin-bottom: 0;
  min-height: 70px;
}
/* line 52, ../scss/sections/_main.scss */
.tile .content:before {
  content: 'content_goes_here...................................................................';
  font-size: 0.6em;
  position: relative;
  top: -5px;
  display: block;
  overflow: hidden;
}

/* line 62, ../scss/sections/_main.scss */
.tile-label {
  padding: 5px 0 5px 17px;
  margin: -25px -25px 0 -25px;
  font-size: 0.9em;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  display: block;
}

/* line 70, ../scss/sections/_main.scss */
.works {
  background: #cbe86b;
  color: #1c140d;
}
/* line 73, ../scss/sections/_main.scss */
.works:before {
  content: '\2713';
  margin-right: 5px;
  background: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #cbe86b;
  text-align: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  font-weight: bold;
}

/* line 87, ../scss/sections/_main.scss */
.works-not {
  background: #e86b6b;
  color: #fff;
}
/* line 90, ../scss/sections/_main.scss */
.works-not:before {
  content: '\2718';
  margin-right: 5px;
  background: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #e86b6b;
  text-align: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  font-weight: bold;
}

/* line 104, ../scss/sections/_main.scss */
.pending {
  background: #999;
  color: #fff;
}
/* line 107, ../scss/sections/_main.scss */
.pending:before {
  content: '?';
  background: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #999;
  text-align: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  font-weight: bold;
  margin-right: 5px;
}

/* line 122, ../scss/sections/_main.scss */
.definition {
  max-width: 900px;
}
/* line 124, ../scss/sections/_main.scss */
.definition dt {
  float: left;
  width: 25%;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 0 10px 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
/* line 132, ../scss/sections/_main.scss */
.definition dt:last-child {
  margin-bottom: 0;
}
/* line 136, ../scss/sections/_main.scss */
.definition dd {
  float: left;
  width: 70%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 5px 10px;
  margin: 0 0 10px 0;
}
/* line 143, ../scss/sections/_main.scss */
.definition dd:last-child {
  margin-bottom: 0;
}

/**
* Header
*
* @desc Styles for the Header
* @author @Freizeitler
* @dependency _app_settingsscss
*/
/* line 9, ../scss/sections/_footer.scss */
.footer {
  font-size: 0.9em;
  padding: 25px 0 25px 75px;
  border-top: 1px dotted #1c140d;
}

/**
* Example
*
* @desc Just an example file
* @author [XX]
* @dependency _app_settingsscss
*/

/*# sourceMappingURL=app.css.map */