/**
* Settings
*
* @desc Place variables and mixings for default settings here
* @author @Freizeitler
* @dependency none
*/

// Colors (take naming ideas from http://chir.ag/projects/name-that-color/)
$color-default: #fff;
$color-sulu: rgba(203, 232, 107, 1);
$color-night-rider: rgba(28, 20, 13, 1);
$color-dawn-pink: rgba(242, 233, 225, 1);
$color-red: rgba(232, 107, 107, 1);
$color-default: $color-night-rider;

// Fonts
$font-default: normal 1em/1.4 sans-serif;
@mixin font-text {
	font: $font-default;
	color: $color-default;
}

// Breakpoints (For em calculation use http://pxtoem.com/)
$breakpoint-min: 0em; 				//0px
$breakpoint-small: 22.5em;    //360px
$breakpoint-medium: 45.25em;  //724px
$breakpoint-large: 64.000em;  //1024px
$breakpoint-max: 81.250em; 		//1300px
