/**
* Basic Styles
*
* @desc Basic and common styles. Formats for every device live in Common Styles, for device-specific stylings use Mobile First approach.
* @author [XX]
* @dependency _app_settingsscss
*/

// Common Styles
body { 
	background: url(../images/project_papper.png);
	@include font-text;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
	line-height: 1.2;
	span {
		display: block;
		font-size: 0.42em;
	}
}
h1 {
	padding: 10px 25px;
	font-size: 2em;
	margin-left: 35px;
	background: #fff;
	margin-bottom: 0;
	border-left: 15px solid $color-red;
}
h2, h3 {
	padding: 10px 25px;
	font-size: 1.6em;
	margin-bottom: 15px;
	border-bottom: 1px dotted $color-night-rider;
}
h3 {
	font-size: 1.2em;
	padding: 10px 0;
}
h4 {
	font-weight: bold;
}
button {
	background: none;
	border: none;
	display: block; 
	padding: 10px 0;
	text-align: center;
	background: $color-dawn-pink;
	margin-bottom: 1em;
	width: 100%;
	line-height: 1.2;
	span {
		display: block;
		font-size: 0.8em;
	}
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
