/**
* Header
*
* @desc Styles for the Header
* @author @Freizeitler
* @dependency _app_settingsscss
*/

.footer {
	font-size: 0.9em;
	padding: 25px 0 25px 75px;
	border-top: 1px dotted $color-night-rider;
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
