/**
* Example
*
* @desc Just an example file
* @author [XX]
* @dependency _app_settingsscss
*/

.main { 
	padding: 50px;
}
.tile {
	box-sizing: border-box;
	padding: 25px;
	width: 260px;
	height: 340px;
	background: #fff;
	float: left;
	margin: 10px 20px 10px 10px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	position: relative;
	h4 {		
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 0 25px;
		&:before {
			content: 'content_goes_here...................................................................';
			font-size: 0.6em;
			position: relative;
			top: -5px;
			display: block;
			overflow: hidden;
		}
	}
}
.tile-label {
	padding: 5px 0 5px 25px;
	margin: -25px -25px 0 -25px;
	font-size: 0.9em;
	border-radius: 3px 3px 0 0;
	&.works {
		background: $color-sulu;
		&:before {
			content: '\2713';
			margin-right: 5px;
		}
	}
	&.works-not {
		background: $color-red;
		color: #fff;
		&:before {
			content: '\2718';
			margin-right: 5px;
		}
	}
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
