/**
* Main Section
*
* @desc Styles for elements within the main section
* @author @Freizeitler
* @dependency _app_settingsscss
*/

.main { 	
	@media (min-width: $breakpoint-min) {
		padding: 25px 15px;
	}
	@media (min-width: $breakpoint-small) {
		padding: 50px;
	}
}
.section {
	margin-bottom: 50px;
	clear: both;
}
.mobile-yeti {
	width: 320px;
	img {
		max-width: 100%;
		height: auto;
	}
}
.tile {
	box-sizing: border-box;
	padding: 25px;
	width: 260px;
	height: 340px;
	background: #fff;
	float: left;
	margin: 10px 20px 10px 10px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	position: relative;
	p {
		padding: 0;
		max-width: 600px;
	}
	.content {		
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 0 25px;
		height: 50px;
		&:before {
			content: 'content_goes_here...................................................................';
			font-size: 0.6em;
			position: relative;
			top: -5px;
			display: block;
			overflow: hidden;
		}
	}
}
.tile-label {
	padding: 5px 0 5px 17px;
	margin: -25px -25px 0 -25px;
	font-size: 0.9em;
	border-radius: 3px 3px 0 0;
	display: block;
	&.works {
		background: $color-sulu;
		color: $color-night-rider;
		&:before {
			content: '\2713';
		  margin-right: 5px;
		  background: #fff;
		  width: 20px;
		  height: 20px;
		  display: inline-block;
		  color: $color-sulu;
		  text-align: center;
		  border-radius: 50%;
		  position: relative;
		  font-weight: bold;
		}
	}
	&.works-not {
		background: $color-red;
		color: #fff;
		&:before {
			content: '\2718';
			margin-right: 5px;
			background: #fff;
		  width: 20px;
		  height: 20px;
		  display: inline-block;
		  color: $color-red;
		  text-align: center;
		  border-radius: 50%;
		  position: relative;
		  font-weight: bold;
		}
	}
	&.pending {
		background: #999;
		color: #fff;
		&:before {
			content: '?';
			background: #fff;
		  width: 20px;
		  height: 20px;
		  display: inline-block;
		  color: #999;
		  text-align: center;
		  border-radius: 50%;
		  position: relative;
		  font-weight: bold;
		  margin-right: 5px;
		}
	}
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
